.contenedor{
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.contenedor-datos{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    margin-top: 0;
    gap: 20px;
}

#mensaje{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input{
    padding: 5px;
    font-size: 15px;
}

button{
    padding: 5px;
    font-size: 20px;
}

.nacimiento, .salario, .ahorro{
    display: flex;
    flex-direction: column;
}